.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #222;
    color: white;
    height: 7vh;
    position: relative;

    &__logo {
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: unset;
        a {
            color: #fff;
        }
    }

    &__cart {
        position: relative;
        color: white;
        font-size: 1.5rem;
        margin-right: 1rem;
        transition: transform 0.2s ease;
    }

    &__cart:hover {
        transform: scale(1.1);
    }

    &__cart-badge {
        position: absolute;
        top: -6px;
        right: -6px;
        background: red;
        color: white;
        font-size: 0.7rem;
        padding: 2px 6px;
        border-radius: 9999px;
        font-weight: bold;
    }

    &__menu-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 24px;
        height: 18px;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 2;
    }

    &__menu-btn span {
        height: 3px;
        width: 100%;
        background: white;
        border-radius: 2px;
        transition: 0.3s ease;
    }

    &__menu-btn.open span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    &__menu-btn.open span:nth-child(2) {
        opacity: 0;
    }

    &__menu-btn.open span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    &__menu {
        position: absolute;
        top: 100%;
        right: 0;
        width: 30%;
        height: 93vh;
        background: #333;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        transition: all 0.2s;
        gap: 0.5rem;
        z-index: 1;

        @media (max-width: 767px) {
            width: 90%;
        }
    }

    &__menu a {
        color: white;
        text-decoration: none;
    }
}
